.footer{
	padding: 80px 0;
	.logo{
		width: 290px;
		margin-left: 0;
		img{
			width: 100%;
		}
	}
}
.social{
	li{
		padding: 0 15px;
		a{
			color: #000;
			&:hover{
				color: var(--blue);
			}
		}
		svg{
			width: 20px;
			height: 20px;
		}
	}
}
.footer__top{
	margin-bottom: 3em;
}
.footer__main{
	justify-content: flex-end;
}
.footer__item{
	margin-left: 9.7rem;
}
.foot-avatars{
	width: 330px;
	li{
		padding: 0 1px;
		margin-bottom: 2px;
		a{
			display: block;
			width: 80px;
			height: 80px;
			line-height: 0;
			&:hover{
				opacity: .9;
			}
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
.foot-menu{
	font-size: 15px;
	font-weight: 400;
	font-family: "Futura", sans-serif;
	li{
		margin-bottom: 2.1em;
		a{
			color: #000;
			font-weight: 400;
			&:hover{
				color: var(--blue);
			}
		}
	}
}
.footer__bottom{
	text-align: right;
}
.copyright{
	font-size: 12px;
	font-weight: 400;
}









