.service{
	background:#11213c url('../img/bg/service-bg.jpg') 100% top no-repeat;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 140px;
}
.service__list.flex{
	justify-content: center;
	li{
		width: 32%;
		padding: 0 20px;
		text-align: center;
		margin-bottom: 60px;
		&:hover{
			.service__img{
				border-color: transparent;
				.cls-1{
					fill: $blue
				}
				.hover_arrows{
					opacity: 1;
					transform: scale(1) rotate(-90deg);
				}
			}
			.service__title{
				color: var(--blue);
			}
			.service__descr{
				color: #fff
			}
		}
	}
}
.service__img{
	width: 134px;
	height: 134px;
	margin: 0 auto 40px;
	border-radius: 50%;
	border: 2px solid #939395;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	.hover_arrows{
		position: absolute;
		top: -12px;
		left: -12px;
		width: 154px;
		height: 154px;
		filter: drop-shadow(-10px 10px 4px rgba(#000, .2));
		opacity: 0;
		transition: all .4s;
	}
	.cls-1{
		transition: all .2s;
	}
}
.service__title{
	color: #bbbdcb;
	text-transform: capitalize;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1;
	padding-bottom: 15px;
	margin-bottom: 25px;
	position: relative;
	transition: color .3s;
	&::after{
		content: '';
		width: 30px;
		height: 1px;
		background-color: currentColor;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	b{
		font-weight: 700;
	}
}
.service__descr{
	font-size: .875rem;
	font-weight: 300;
	color: #bbbdcb;
	line-height: 1.42;
	transition: color .3s;
}